.inputContainer {
    width: 90%;
    margin: 1rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.chatInput {
    margin: 1rem;
    width: 80%;
    padding: 10px 20px;
    border: 2px solid black;
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    font-size: larger;
} 

.chatInput::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.chatInput:hover {
    border: 2px solid green;
}

.chatBoxContainer {
    width: 90%;
    height: 90vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden; /* Hide any overflow */
    justify-content: flex-start; /* Ensure content is at the start */
}

.chatHeader {
    background-color: rgba(255, 255, 255, 1);
    z-index: 1;
    width: 100%;
    margin: 1rem 0;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
}

.welcomeMessage {
    color : green;
    font-size: 1rem;
    font-weight: bold;
    margin-left: 5px;
}

.typer {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #777;
    margin-right: 10px;
}

.chat {
    flex: 1;
    width: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 1rem; /* Optional padding for spacing */
    box-sizing: border-box; /* Include padding in width/height calculations */
}

.sendButton {
    padding: 8px 18px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

.chatDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.logo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.userMessage {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
    border-radius: 10px;
}

.time { 
    margin-left: 1rem;
    font-weight: 600;
    font-size: 0.8rem;
}

.users {
    font-size: 1rem;
    font-weight: 600;
}

.messages {
    font-size: 0.9rem;
    font-weight: 400;
}

@media (max-width: 480px) {
    .chatBoxContainer {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .chatBoxContainer {
        width: 100%;
    }
}
